[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pytz = "*"
tqdm = "*"
more-itertools = "*"
requests = "*"
jupyterlab = "*"
pymongo = "*"
ratelimit = "*"
tenacity = "*"
python-dotenv = "*"
google-api-core = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-httplib2 = "*"
googleapis-common-protos = "*"

[dev-packages]

[requires]
python_version = "3.11"
