PATH=/bin:/usr/bin:/usr/local/bin:/opt
# The `/proc/1/fd/1 2>/proc/1/fd/2` sends both stdout and stderr to the
# stdout and stderr of the first process, which will output to the docker log
#* * * * *  date >/proc/1/fd/1 2>/proc/1/fd/2
*/30 * * * *  /opt/run_leaguesync.sh >/proc/1/fd/1 2>/proc/1/fd/2


 
