

export PIKE13_BUSINESS_DOMAIN='jtl.pike13.com'
export PIKE13_CLIENT_ID= # From Pike 13
export PIKE13_CLIENT_SECRET= # From Pike 13
export LEAGUE_BEFORETIMES='2015-01-01T00:00:00Z' # Date to use as earliest date of pike13 records
export LEAGUESYNC_MONGO_URI= # From Mongo config on Digital Ocean
